div(class="jumbotron" data-src="/img/404.gif" data-position="center right" ng-controller="notFoundController")
    div(class="container")
        h1 404 - Page not found
        p(class="lead")
            a(href="/en/") Return to the homepage
    div(class="overlay")