doctype html
html
    head
        title Games
        base(href='http://localhost:8000/')
        link(rel='stylesheet' href='/css/layout.css')
    body
        div(class='header')
            div(class='header-logo')
            input(type='hidden' ng-model='lng' ng-init='lng="#{lng}"')
            nav(class='header-nav')
                a(class='header-nav-itm' href='/{{ lng }}/') Main
                a(class='header-nav-itm' href='/{{ lng }}/checkers') Checkers
                a(class='header-nav-itm' href='/{{ lng }}/about') About

        div(class='main' ng-view)

        div(class='footer') Footer

        script(type='text/javascript', src='/requirejs/require.js' data-main='/js/bootstrap.js')
