doctype html
html(ng-app="gamesApp")
    head
        title= 'Games'
        link(rel='stylesheet' href='/css/layout.css')
        link(rel='stylesheet' href='/css/chat.css')
        link(rel='stylesheet' href='/css/games/checkers/checkers.css')
        script(type='text/javascript', src='/angular/angular.min.js')
        script(type='text/javascript', src='/js/games/checkers/controllers.js')
    body
        div(class='header')
            div(class='header-logo')
            div(class='header-nav')
                div(class='header-nav-itm')
                div(class='header-nav-itm')
                div(class='header-nav-itm')
        div(class='main')
            div(class='main-box')
                div(class='main-box-base')
                    div(class='game-checkers-playground' ng-controller="CheckersPlaygroundCtrl")
                        div(class='game-checkers-playground-row' ng-repeat="(x, row) in rows")
                            div(class='game-checkers-playground-row-tile _{{ tile.type }} {{ tile.available ? "_available" : "" }}' ng-repeat="(y, tile) in row" ng-click="moveChecker(x, y)")
                                div(class='game-checkers-playground-row-tile__checker _{{ tile.checker.type }} {{ tile.checker.selected ? "_selected" : "" }} {{ tile.checker.type != current_player ? "_inactive" : "" }}' ng-if='tile.checker.type != null' ng-click="selectChecker(x, y)")
                div(class='main-box-side')
                    div(class='chat')
                        div(class='chat-messages')
                        div(class='chat-new-message')
        div(class='footer') Footer
