doctype html
html(ng-app="gamesApp")
    head
        title= 'Games'
        link(rel='stylesheet' href='/css/layout.css')
        link(rel='stylesheet' href='/css/chat.css')
        link(rel='stylesheet' href='/css/games/checkers/checkers.css')
        script(type='text/javascript', src='/angular/angular.min.js')
        script(type='text/javascript', src='/js/controllers.js')
    body
        svg(version="1.1" xmlns="http://www.w3.org/2000/svg")
            symbol(id='crown' viewBox="-2.215 -7.681 50 50" enable-background="new -2.215 -7.681 50 50" xml:space="preserve")
                path(class='svg-crown-path' fill="none" stroke="#000000" stroke-width="3" d="M22.646,7.195l9.833,12.291l9.833-12.291l-2.459,22.124H5.438 L2.98,7.195l9.833,12.291L22.646,7.195z")
        div(class='header')
            div(class='header-logo')
            div(class='header-nav')
                div(class='header-nav-itm')
                div(class='header-nav-itm')
                div(class='header-nav-itm')
        div(class='main')
            div(class='main-box')
                div(class='main-box-base')
                    div(class='game-checkers-playground' ng-controller="CheckersPlaygroundCtrl")
                        div(class='game-checkers-playground-row' ng-repeat="(key, x) in [0, 1, 2, 3, 4, 5, 6, 7]")
                            div(class='game-checkers-playground-row-tile _{{ playground.getTileXY(x, y).getType() }} {{ playground.getTileXY(x, y).isAvailable() ? "_available" : "" }}' ng-repeat="(key, y) in [0, 1, 2, 3, 4, 5, 6, 7]" ng-click="checkers.moveCheckerToXY(x,y)") {{checker=playground.getTileXY(x, y).getChecker();""}}
                                div(class='game-checkers-playground-row-tile-checker {{ checker != null ? "_" + checker.getType() : "" }} {{ checker != null && checker.isSelected() ? "_selected" : "" }} {{ checker != null && !checker.isAvailable() ? "_inactive" : "" }} {{ checker != null && checker.isKing() ? "_king " : "" }}' ng-if='checker != null' ng-click="checkers.selectCheckerXY(x,y)")
                                    svg(class="game-checkers-playground-row-tile-checker-crown" xmlns:xlink="http://www.w3.org/1999/xlink")
                                        use(xlink:href="#crown")
                div(class='main-box-side')
                    div(class='chat')
                        div(class='chat-messages')
                        div(class='chat-new-message')

        div(class='footer') Footer
