doctype html
html(ng-app="gamesApp")
    head
        title= 'Games'
        link(rel='stylesheet' href='/css/layout.css')
        link(rel='stylesheet' href='/css/chat.css')
        link(rel='stylesheet' href='/css/games/checkers/checkers.css')
        script(type='text/javascript', src='/angular/angular.min.js')
        script(type='text/javascript', src='/js/games/checkers/controllers.js')
    body
        div(class='header')
            div(class='header-logo')
            div(class='header-nav')
                div(class='header-nav-itm')
                div(class='header-nav-itm')
                div(class='header-nav-itm')
        div(class='main')
            div(class='main-box')
                div(class='main-box-base')
                    div(class='game-checkers-playground' ng-controller="CheckersPlaygroundCtrl")
                        div(class='game-checkers-playground-row' ng-repeat="(x, row) in rows")
                            div(class='game-checkers-playground-row-tile _{{ tile.getType() }} {{ tile.isAvailable() ? "_available" : "" }}' ng-repeat="tile in row" ng-click="moveChecker(tile)")
                                div(class='game-checkers-playground-row-tile__checker {{ tile.getChecker() != null ? "_" + tile.getChecker().getType() : "" }} {{ tile.getChecker() != null && tile.getChecker().isSelected() ? "_selected" : "" }} {{ tile.getChecker() != null && tile.getChecker().getType() != current_player ? "_inactive" : "" }}' ng-if='tile.getChecker() != null' ng-click="selectChecker(tile)")
                div(class='main-box-side')
                    div(class='chat')
                        div(class='chat-messages')
                        div(class='chat-new-message')
        div(class='footer') Footer
