@import "theme";

html, body {
  color: #434242;
  font-family: 'Open Sans', sans-serif !important;
  height: 100%;
}

body {
  background: #F3EFE0;
  font-size: 15px;
  line-height: 1.64;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, strong, b {
  font-family: 'Open Sans', sans-serif !important;
  margin-bottom: 20px;
}

h1, h4 {
  font-weight: 700;
  margin-bottom: 10px;
}

h2, h3 {
  font-weight: 300;
  color: $theme-main-color;
}

h2 {
  font-size: 54px;
  text-align: center;
}

h3 {
  font-size: 28px;
}

.games-back-button {
  position: fixed;
  top: 0;
  left: 6%;
  background: $theme-button-bg;
  overflow: hidden;

  border-bottom: {
    left-radius: 4px;
    right-radius: 4px;
  }

  a,
  a:hover,
  a:active {
    padding: 6px 10px;
    color: $theme-button-text-color;
    text-decoration: none;
    font-weight: bold;
  }

  a:hover {
    background: $theme-button-bg_hover
  }

  a:active {
    background: $theme-button-bg_active;
  }
}
