@charset "UTF-8";

$tile-size: 50px;
$row-info-height: 30px;
$tile-info-width: 30px;

.container {
  max-width: 1280px;
  padding: 0 180px;
}

@media (max-width: 767px) {
  .container {
    padding: 0 20px;
    min-width: 500px;
  }
}

.game-checkers {

  &-info-bar {
    text-align: center;
    margin-bottom: 20px;

    .game-checkers-checker,
    .game-checkers-checker:hover {
      display: inline-block !important;
      top: 0 !important;
      left: 0 !important;
      margin: 0 10px -16px 20px !important;
    }
  }

  &-playground {

    width: 500px;
    margin: 0 auto;

    &-row {
      margin: 0;
      height: $tile-size;
    }

    &-row-info {
      margin: 0;
      height: $row-info-height;
      padding: 0 $tile-info-width;
      overflow: hidden;

      &-tile {
        position: relative;
        display: inline-block;
        width: $tile-size;
        text-align: center;
      }
    }

    &-tile,
    &-tile-info {
      position: relative;
      margin: 0;
      display: inline-block;
      height: $tile-size;
      overflow: hidden;
    }

    &-tile-info {
      line-height: $tile-size;
      width: $tile-info-width;
      text-align: center;
    }

    &-tile {
      width: $tile-size;

      &._black {
        background: {
          color: #555;
        };
      }

      &._white {
        background: {
          color: #eee;
        };
      }

      &._available:before {
        content: " ";
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        left: 1px;
        z-index: 1;
        border: {
          style: solid;
          width: 1px;
          color: #999;
        };
      }
    }
  }

  &-checker {
    position: relative;
    top: 50%;
    left: 50%;
    margin: -20px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border: {
      radius: 50%;
      style: solid;
      width: 1px;
      color: #555;
    }

    &:before {
      content: " ";
      position: absolute;
      top: 1px;
      right: 1px;
      bottom: 1px;
      left: 1px;
      z-index: 1;
      border: {
        radius: 50%;
        style: solid;
        width: 1px;
        color: #888;
      };
    }

    &:not(._inactive):not(._selected):hover {
      border: {
        width: 2px;
        color: #999;
      }
    }

    &._black {
      background: {
        color: #111;
      };
    }

    &._white {
      background: {
        color: #eee;
      };
    }

    &._selected {
      border: {
        width: 2px;
        color: #fff;
      }
    }

    &._white._selected {
      border-color: #111;
    }

    &:not(._inactive):before {
      border: {
        width: 2px;
        color: forestgreen;
      };
    }

    &-crown {
      height: 20px;
      left: 9px;
      position: absolute;
      top: 10px;
      width: 21px;
    }

    &._selected &-crown,
    &:not(._inactive):hover &-crown {
      left: 8px;
      top: 9px;
    }

    &._white &-crown {
      background: svg("assets/img/components/games/checkers/crown", "[fill]: black") 0 0 no-repeat;
    }

    &._black &-crown {
      background: svg("assets/img/components/games/checkers/crown", "[fill]: white") 0 0 no-repeat;
    }

    &:not(._king) &-crown {
      display: none;
    }
  }
}