header(class="header")
    div(class="header-logo") Logo
    div(class="header-masters")
    div(class="header-search")
    div(class="header-user")
div(class="page-data")
    //div(class="row")
        div(class="col-md-6 page-data-user page-data_block")
            div &nbsp;
        div(class="col-md-2 page-data-share page-data_block")
            div &nbsp;
    div(class="page-data-user page-data_block")
        div(class="page-data-user-box")
            div(class="page-data-user-image") &nbsp;
            div(class="page-data-user-info")
                div(class="page-data-user-info-name") Ирина
                div(class="page-data-user-info-data")
                    | Профиль №123456
                    br
                    | Посмотреть как выглядить, профиль для&nbsp;
                    a(href="#") всех
            div(class="page-data-user-score") &nbsp;
    div(class="page-data-share page-data_block")
        div &nbsp;
    div(class="page-data-content page-data_block")
footer(class="footer")