.game-checkers-playground {

  width: 400px;
  margin: 0 auto;

  &-row {

    margin: 0;
    height: 50px;

    &-tile {
      margin: 0;
      display: inline-block;
      background-image: linear-gradient(to bottom right, white, gray);
      height: 50px;
      width: 50px;
    }

    &-tile:nth-of-type(2n) {
      background-image: linear-gradient(gray, black);
    }

    &:nth-of-type(2n) &-tile {
      background-image: linear-gradient(gray, black);
    }

    &:nth-of-type(2n) &-tile:nth-of-type(2n) {;
      background-image: linear-gradient(to bottom right, white, gray);
    }
  }
}